/* BASICS */
html {
  --off-black: rgba(40,40,40);
  --off-white: rgba(247,247,247);
  --off-gray: rgba(222, 222, 222);

  --off-white-5: rgba(247,247,247,0.05);

  --dark-blue: rgba(39, 149, 211, 1);
  --light-blue: rgba(128, 194, 255, 1);
  --accent-pink: rgba(245, 99, 199, 1);

  --shadow: 0px 0px 25px 0px var(--darker-blue);
  scroll-behavior: smooth; 
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--off-black);
  color: var(--off-white);
}

header {
  background-color: var(--dark-blue);
  color: var(--off-white);
  align-items: center;
  padding: 36px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-size: 26px;
  font-weight: 400;
}

.text-light-blue {
  color: var(--light-blue);
}

.context-item {
  color: var(--light-blue);
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  margin: 8px 0px;
}
.context-item:before {
  content: "↳";
  font-size: 18px;
  font-weight: 700;
}

.grid {
    display: grid;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.left {
    margin-right: auto !important;
}

.right {
    margin-left: auto !important;
}

.up {
    margin-bottom: auto !important;
}

.down {
    margin-top: auto !important;
}

main {
  padding: 36px;
  gap: 36px;
  justify-content: center;
}

@media screen and (max-width: 576.5px) {
  .inputs {
    flex-direction: column;
  }
  #hippo-logo {
    width: 100px;
    object-fit: contain;
  }
  
  #hippo-text-logo {
    width: 200px;
    object-fit: contain;
  }
}

@media screen and (min-width: 576.5px) {
  #hippo-logo {
    width: 150px;
    object-fit: contain;
  }
  
  #hippo-text-logo {
    width: 350px;
    object-fit: contain;
  }
}

@media screen and (max-width: 768.5px) {
  main {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 768.5px) {
  main {
    grid-template-columns: auto auto;
  }
}

.main-content {
  gap: 40px;
  max-width: 700px;
}

.side-content {
  max-width: 300px;
}

.related-panel {
  background: var(--dark-blue);
  padding: 28px;
  border-radius: 12px;
  font-size: 18px;
}

.related-list > li:before {
  content: "•";
  font-size: 18px;
  font-weight: 700;
}

.related-list > li {
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  margin-top: 8px;
  margin-left: 8px;
}

p {
  font-size: 18px;
}

.italicize {
  font-style: italic;
}

.synonyms-list {
  gap: 16px;
  flex-wrap: wrap;
  color: var(--light-blue);
}

.synonym {
  padding: 8px;
  background-color: var(--off-white-5);
}

a:hover {
  text-decoration: underline;
}

.inputs {
  gap: 18px;
  margin-top: 20px;
  align-items: center;
}

.dropdown {
  position: relative;
  align-items: center;
}
.dropdown > input {
  font-size: 18px;
  padding: 8px;
}
.dropdown > i {
  position: absolute;
  right: 10px;
  color: var(--off-black);
  font-size: 24px;
}

.card {
  gap: 16px;
}

.description {
  align-items: center;
  width: 100%;
  gap: 10px;
}

i {
  font-size: 28px;
}

#options-list, #suggestions-list {
  position: absolute;
  width: 100%;
  font-size: 18px;
  z-index: 20;
}

#options-list > li, #suggestions-list > li {
  padding: 8px;
  background-color: white;
  color: black;
}

#options-list > li:hover ,#suggestions-list > li:hover {
  background-color: var(--off-gray);
  cursor: pointer;
}

.relative {
  position: relative;
}

input {
  border: 1px solid var(--off-gray);
}

.hidden {
  display: none;
}